<form action="/api/user/login" method="post">
    <ul>
        <li>
            <label for="name">Correo electrónico:</label>
            <input type="text" id="name" name="user_mail"/>
        </li>
        <li>
            <label for="pss">Contraseña:</label>
            <input id="pss" name="user_password"/>
        </li>
    </ul>
    <input type="submit" value="Iniciar sesión">
</form>