<form action="/api/user/register" method="post">
    <ul>
        <li>
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="user_name" />
        </li>
        <li>
            <label for="mail">Correo electrónico:</label>
            <input type="email" id="mail" name="user_mail" />
        </li>
        <li>
            <label for="pss">Contraseña:</label>
            <input id="pss" name="user_password"/>
        </li>
    </ul>
    <input type="submit" value="Registrarte">
</form>